
<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4 text-center">NgRx</h1>
    <p class="lead">NgRx Store provides reactive state management for Angular apps inspired by Redux. Unify the events in your application and derive state using RxJS.</p>
  </div>
  <div class="row mb-5">
    <div class="col-md-6">
      <app-product-add></app-product-add>
    </div>
    <div class="col-md-6">
      <app-product-view></app-product-view>
    </div>
  </div>
</div>

<router-outlet></router-outlet>